{% extends 'base.html' %}

{% block html_head %}
    <style>
        .progress {
            display: none;
        }
        .progress progress {
            width: 500px;
        }
    </style>
{% endblock %}


{% block html_body %}
    <h1>Загрузка и парсинг текстовых файлов</h1>
    <form id="upload-form" method="post" action="{% url 'xhr' 'upload' %}" enctype="multipart/form-data" class="upload">
        {% csrf_token %}
        <div id="upload-field" class="fields">
            <input type="file" id="select-file" accept="text/plain" style="display: none"/>
            <button type="button" id="submit-file">Выбрать и загрузить</button>
        </div>
        <div id="upload-progress" class="progress">
            <p>Загрузка файла</p>
            <progress max="100" value="0">Загружено на <span class="value">1</span>%</progress>
        </div>
    </form>
{% endblock %}


{% block scripts %}{% verbatim %}<script>
jQuery(function ($) {
    "use strict";

    var $selectFile = $('#select-file');
    var $submitFile = $('#submit-file');

    function uploadFile(file, url) {
        var $uploadProgress = $('#upload-progress');
        var $uploadField = $('#upload-field');
        var formData = new window.FormData();
        $uploadProgress.show();
        formData.append('file', file);
        $uploadField.hide();
        var jqXHR = $.ajax({
            url: url,
            method: 'POST',
            contentType: false,
            data: formData,
            processData: false,
            dataType: 'json',
            cache: false,
            xhr: function () {
                var xhr = new window.XMLHttpRequest();
                var $progressIndicator = $uploadProgress.find('progress');
                xhr.upload.addEventListener('progress', function (ev) {
                    if (ev.lengthComputable) {
                        var percentage = Math.round((ev.loaded * 100) / ev.total);
                        $progressIndicator.attr('value', percentage);
                        $progressIndicator.find('.value').text(percentage);
                    }
                }, false);
                return xhr;
            }
        });
        jqXHR.always(function () {
            $uploadField.show();
        });
        return jqXHR;
    }

    $submitFile.on('click', function (evt) {
        $selectFile.trigger('click');
    });
    $selectFile.on('change', function (evt) {
        var file = evt.target.files[0];
        if (file) {
            uploadFile(file, $('#upload-form').attr('action')).done(
                function (data, textStatus) {
                    console.info(textStatus);
                    console.debug(data);
                    window.location.assign(data['next'])
                }
            );
        }
    });
});
</script>{% endverbatim %}{% endblock %}
